body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(21, 21, 21);
  background-image: url(giphy.gif);
  background-size: cover;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.window {
  background-color: rgb(21, 21, 21);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 3px solid white;
  border-radius: 30px;
  padding: 10%;
  width: fit-content;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  box-shadow: 5px 10px 10px 4px black;
}
.window p {
  margin: 0;
}
.balanceInfo {
  border: 3px solid white;
  border-radius: 10px;
  padding: 5%;
  font-size: 20px;
  color: rgb(0, 255, 0);
  font-weight: 600;
  width: 100%;
  box-shadow: 5px 10px 5px 2px black;
}
.amount {
  background-color: rgb(9, 9, 9);
  border: 3px solid white;
  border-radius: 30px;
  padding: 5%;
  font-size: 20px;
  color: rgb(0, 255, 0);
  font-weight: 600;
  box-shadow: 5px 10px 5px 2px black;
}
.options {
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 3px solid white;
  border-radius: 30px;
  padding: 5%;
  width: fit-content;
  box-shadow: 5px 10px 5px 2px black;
}
button {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 50px;
  box-shadow: 5px 10px 5px 2px black;
  transition: 0.3s;
}
button:hover {
  box-shadow: 2px 5px 2px 1px black;
  transition: 0.3s;
}
.addMoney {
  background-color: rgb(0, 255, 0);
}
.removeMoney {
  background-color: rgb(255, 0, 0);
}
